[2014-06-22 09:32] bermud opened #1 "clean project for release"
Adjust release notes
https://github.com/opengeospatial/ets-wms13/blob/master/src/main/site/markdown/relnotes.txt
- do proper markdown syntax
- edit the revision notes
- update link from index.md

Adjust configuration
https://github.com/opengeospatial/cite/issues/24

[2014-07-15 20:55] bermud opened #2 "verify that the test can be build and run correctly"

[2014-07-16 13:11] #2 closed, assigned to nobody

[2014-07-24 01:33] bermud opened #4 "XPath error in getfeatureinfo:query_layers-not-queryable"
The test log includes the following error message:

[code]

This occurs when attempting to identify a non-queryable layer using the
following expression:

[code]

There may be more than one non-queryable layer in the capabilities document,
yielding a sequence.

[Originally reported in the OGC CITE issue tracker: issue #950](https://portal
.opengeospatial.org/?m=projects&a=view&project_id=85&tab=5&

[2014-07-24 23:14] bermud opened #5 "getmap:bbox-pixel-interpretation"
The test: getmap:bbox-pixel-interpretation fails.
The Request contains width and height as follows:

&HeIgHt=7&CrS=CRS:84&BbOx=0.0016,-0.0012,0.0026,-0.0005&WiDtH=10&

the resulting Image from our implementation meets this criteria.

in the sorce of the test it says:

[code]

The returned image looks like this (screensot in Gimp):

http://services.interactive-instruments.de/cite2013wfs/simpledemo/

[2014-09-16 13:01] bermud opened #6 "Empty CRS code in CRS-parameter"
Originally reported by Fischer, Jean-Michel 2013-10-30
Closed 2014-05-06 05:23:48
https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=885

Original Issue Details:
The parameter CrS is empty for some tests.

The SUT defines the CRS in the parent layer:

http://services.interactive-instruments.de/cite2013wfs/cite/cgi-bin/wms/wms/wms?request=GetCapabilities&versio

[2014-09-16 13:05] #6 closed, assigned to nobody

[2014-09-16 13:06] #4 closed, assigned to rjmartell

[2014-09-19 21:08] bermud opened #7 "image/png8 and image/png24 are not valid iana media types"
Assertion: For format &quot;image/png8&quot;, when the FORMAT parameter is set to that format, the MIME type of the response matches that format.

Issue: When the requested image format is image/png8 the test expects the response header to contain image/png8 .  The server returns image/png because image/png8 is not a valid Content-Type. This makes the server fail the test.

The media type as per i

[2014-10-01 18:40] #1 closed, assigned to nobody

[2014-10-06 08:41] ghost opened #9 "Test main:time defect"
I noticed an issue with the optional test main:time (not sure if this also affects the elevation tests). If the values for nearestValue and multipleValues is set to "true" the test throws an exception:

Error in call to extension function {public synchronized void com.occamlab.te.TECore.callTest(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.String,net.sf.saxon.om.NodeInfo,java.lang.Str

[2014-10-06 09:04] #5 closed, assigned to nobody

[2014-11-04 12:22] #9 closed, assigned to nobody

[2014-11-04 12:38] mlechner opened #11 "r10 does not send mandatory SERVICE parameter"
When testing my WMS for OGC conformity using the testdataset, I do not
see the "large diamond". But the reason seems to be a bug in the testengine:

src does not send the mandatory SERVICE parameter:
<img border="1"
src="http://<myip>/cgi-bin/qgis_mapserv.fcgi?MAP=<mymapfile>&VERSION=1.3.0&REQUEST=GetMap&LAYERS=cite%3ABasicPolygons&STYLES=&CRS=CRS:84&BBOX=-1,-1,1,1&WIDTH=300&HEIGHT=300&FORMAT=imag

[2015-01-29 17:55] bermud commented on #11
@segoerke, talking to OGC staff, it seems that the complaint is valid. We should not enforce the SERVICE parameter. Can you please check how big is the impact?

[2015-02-20 12:16] bermud commented on #11
@segoerke, so if we are going to keep the rule as it is, can you please provide better information/guidance for the tester, inside the tests and when giving back the results? Thank you very much!

[2015-03-16 18:49] bermud opened #12 "Develop test for a WMS 1.3 raster conformance class"
Develop an ETS that allows to test only WMS that publishes rasters.

See related email: http://lists.opengeospatial.org/pipermail/cite-forum/2011-February/000436.html

Reason: some products specialize in raster handling and does not support vector input.

[2015-03-28 02:13] bermud opened #13 "Issues link in site has incorrect link"
The issues link is pointing to:
http://cite.opengeospatial.org/te2/about/wms/1.3.0/site

And should be:
https://github.com/opengeospatial/ets-wms13/issues

[2015-04-16 07:13] dbretschneider commented on #13
The correct URL is mentioned in
 * https://github.com/opengeospatial/ets-wms13/blob/master/src/site/site.xml#L26

The issue is caused by a relative path after building the test suite:
[code]
But I cannot find where the HTML site is created.

[2015-04-21 08:40] tony-robinson opened #14 "Tests fail with CRS parameter set to NOCRSForLayer"
I have downloaded the Team Engine and Test Scripts and have run the WMS 1.3.0 compliance tests (r9 and r10) locally against our test server.  There are a number of tests failures.  The tests fail for a variety of reasons but all have a common factor: in each request the CRS parameter is set to “NoCRSForLayer”
The failing tests are:

bbox-direct
crs-direct
each-style
first-style-invalid
second-styl

[2015-04-21 10:06] tony-robinson opened #15 "Tests fail with error 'A sequence of more than one item is not allowed as the first argument of string()'"
I have downloaded the Team Engine and Test Scripts and have run the WMS 1.3.0 compliance tests (r9 and r10) locally against our test server.

Two tests: bbox-outside-crs and invalid-crs are failing with the same error, I assume that this is related to the interpretation of the capabilities document.

I include the logs for the failing tests below and the capabilities document returned by our serve

[2015-04-24 09:55] dbretschneider commented on #14
Regarding to function
[code]

in [```src/main/scripts/ctl/functions.xml```](https://github.com/opengeospatial/ets-wms13/blob/master/src/main/scripts/ctl/functions.xml#L29), the CRS is set to ```NoCRSForLayer``` if no CRS is available.
[code]

The CRS is inherited from the root layer. Therefore we have to check the ```xlst-select```.

[2015-04-24 11:00] dbretschneider commented on #13
As described in [Apache Maven](http://maven.apache.org/plugins/maven-site-plugin/examples/sitedescriptor.html), the configuration is correct.

The Apache Maven Site Plugin has some problems with URL with ```https```. ```http``` works fine. GitHub will redirect ```http``` to ```https```.

See pull request https://github.com/opengeospatial/ets-wms13/pull/16.

[2015-05-18 14:05] #13 closed

[2015-09-03 14:15] dstenger commented on #14
The root layer is not considered when detecting the CRS. Pull request #17 fixes this issue.

[2015-09-03 14:16] dstenger commented on #15
The XPath is able to select more than one layer leading to this error. Pull request #18 fixes this issue.

[2015-09-24 15:09] dstenger commented on #14
Issue was fixed in pull request #17.

[2015-09-24 15:09] #14 closed

[2015-09-24 15:09] dstenger commented on #15
Issue was fixed in pull request #18.

[2015-09-24 15:09] #15 closed

[2015-10-12 11:57] matsoo opened #19 "Invalid function calls in time:main"
The main:time test tries to test the multipleValues and nearestValue attributes of the dimension tag using the following code:

[code]

This is incorrect as there is no boolean function, and also redundant as the boolean-as-integer function tests both for numbers and true/false string values.

Running the test causes the following error:

Error in call to extension function {public synchronized vo

[2015-10-14 15:53] rjmartell opened #20 "Malformed results if response to invalid-crs test is not XML"
The `getmap:invalid-crs` test is intended to elicit an exception report by submitting a GetMap request where the CRS parameter value is "UndefinedCRS". However, if the SUT incorrectly responds with a non-XML entity (i.e. an image) it is still serialized to the test results file, thereby producing malformed XML which cannot be parsed when a report is generated.

A ServletException is thrown (status

[2015-10-14 15:56] rjmartell commented on #20
The test could be made more robust by first checking the content type header in the response for an acceptable XML media type.

[2015-11-25 17:42] dstenger commented on #11
What do you mean with better guidance? We could add a hint to the description of the WMS 1.3.0 ETS. Or a precondition test could be added checking if a GetMap request can be executed without the service parameter (but wouldn't this be too much overhead?).

[2015-11-30 12:24] dstenger commented on #20
Pull request was merged and will be part of the next release.

[2015-11-30 12:24] #20 closed

[2015-11-30 16:25] bermud commented on #11
Add information in the section about how to run the test.

[2016-01-07 18:52] bermud commented on #19
@dstenger, please investigate. thank you.

[2016-01-12 17:34] bermud commented on #7
@dstenger, please take a look at this issue.

[2016-01-13 15:02] bermud commented on #7
If you request an image/png8 or image/png24, providing in the header response  an image/png should also be ok.

[2016-01-13 16:09] dstenger opened #22 "Test getmap:transparent-default fails due to invalid width and height in GetMap request"
Test getmap:transparent-default type Mandatory default result Passed (s0002/d711e387_1/d1794e56_1/d1794e339_1)

 Assertion: When a GetMap request is made with no TRANSPARENT parameter and a FORMAT that supports transparency over a layer that is not opaque, then the response contains no transparent pixels.

 Context:
    Label:
    Value: WMS_Capabilities element

 Request d1794e5681_1:
    Method:

[2016-01-13 16:11] dstenger commented on #22
We analysed why your service is requested with "100100" for width and
height instead of "100".
When you take a look at the capabilites
(http://myserver/wms?request=GetCapabilities&service=WMS) you
can see that each layer name is present twice. This leads to the fact
that the width and height are evaluated twice for these layers. Due to
this the value "100" is added twice to the request parameters.

[2016-01-13 16:11] #22 closed

[2016-01-27 15:03] dstenger commented on #19
Correct, functions:boolean does not exist and the check is redundant as functions:boolean-as-integer already tests the value 'true'.

[2016-01-29 09:56] dstenger commented on #19
We fixed the issue and created a pull request: #24

[2016-01-29 13:13] #19 closed

[2016-01-29 13:42] dstenger commented on #7
The pull request was merged and the fix will be part of the next release.

[2016-01-29 13:42] #7 closed

[2016-01-29 13:42] dstenger commented on #19
The pull request was merged and the fix will be part of the next release.

[2016-01-29 17:47] bermud opened #25 "How to run profiles via command line"
Some organizations are trying to run profiles, like the WMS DGIWG profile available here:

https://svn.opengeospatial.org/ogc-projects/cite/scripts/wms/profiles/dgiwg/ed1.3/trunk/

When trying to run the script via command line using the the DGIWG profile test as the source, the error message “no test suite found”  is presented and nothing runs – no dialog box appears or anything.

Reported here:

[2016-01-29 19:01] bermud commented on #25
The ctl was tweaked so it can run by itself. It needs to be placed under TE_BASE/scripts
[dgiwg.xml.zip](https://github.com/opengeospatial/ets-wms13/files/110255/dgiwg.xml.zip)

To run it type the following comand :
``` ./test.sh -source=dgiwg.xml ```or ```test.bat -source=dgiwg.xml```

[2016-03-04 15:35] pomakis opened #26 "values of "false"/"true" are not accepted for boolean attributes"
The WMS 1.3.0 CITE test suite only allows the boolean attributes of the <Layer> element to have the values "0" and "1".  However, the more canonical forms of "false" and "true" are allowed by both the specification and the schema.

The following tests fail if a WMS 1.3.0 capabilities document legitimately returns "false"/"true" values for these attributes:
    main:std-data-queryable
    basic_ele

[2016-03-04 15:41] pomakis opened #27 "can't handle HTTPS URLs?"
The logo URL reported by our WMS 1.3.0 server is an HTTPS URL.  I see nothing in the specification that forbids this.  However, it causes the getcapabilities:logourls test to fail with the following error:

Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension functi

[2016-03-04 16:28] pomakis commented on #27
If the conclusion is that HTTPS URLs will continue to be unsupported by the test suite, then the requirement that all URLs must be http:// only should be stated in the "Test Requirements" section of the test-suite description.

[2016-03-30 17:56] rjmartell opened #28 "ServletException thrown when attempting to view test results containing non-XML entity"
The test results cannot be displayed due to malformed markup. The root cause is

[code]

It occurs when an XML entity is expected in response but a non-XML representation (i.e. an image) was received instead. It has been observed for tests that expect an exception report, such as `bbox-minx-eq-maxx` and  `bbox-miny-eq-maxy`.

[2016-03-30 17:58] rjmartell commented on #28
The fix would be to first check the content type header in the response for an acceptable XML media type. This applies to _all tests_ that expect an exception report. See #20.

[2016-04-06 23:23] bermud commented on #26
@pomakis, thank you for submitting the issue/question. We should respond by the next week.

[2016-04-06 23:56] bermud commented on #25
No more replies on the forum related to this question. Issue closed.

[2016-04-06 23:56] #25 closed

[2016-04-11 11:21] dstenger commented on #26
Thank you for reporting.
The function "functions:boolean-as-integer" should already convert a "true"/"false" to "0"/"1". This function is used in all referenced tests.
Can you please provide a test server? Then, further analysis can be done why the tests are failing.

[2016-04-11 12:46] dstenger commented on #27
Thank you for reporting this.
Is it possible to provide a test service so that we can reproduce and analyse the issue more in detail?

[2016-04-11 12:51] dstenger commented on #28
Can you provide a test server which can be used to test a fix?

[2016-04-11 13:16] pomakis commented on #26
You wrote:

The following WMS 1.3.0 service:

  http://demo.cubewerx.com/cubewerx/cubeserv/cite_wms130?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.3.0

fails the following tests:

  main:std-data-queryable
  basic_elements:extra-GetFeatureInfo-param
  getfeatureinfo:main

for this reason.  For example, the main:std-data-queryable test fails
with the following message:

Test main:std-data-queryab

[2016-04-11 13:21] pomakis commented on #27
You wrote:

http://demo.cubewerx.com/cubewerx/cubeserv/cite_wms130?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.3.0

--
Keith Pomakis <pomakis@pobox.com>
http://www.pomakis.com/

[2016-04-13 14:58] dstenger opened #29 "getmap:bbox-pixel-interpretation fails"
getmap:bbox-pixel-interpretation

  Request : http://localhost:19090/maps?&StYlEs=&HeIgHt=7&CrS=CRS:84&BbOx=0.0016,-0.0012,0.0026,-0.0005&WiDtH=10&FoRmAt=image%2Fpng&ReQuEsT=GetMap&VeRsIoN=1.3.0&LaYeRs=cite:Lakes

  Assertion: The server interprets the bounding box as going around the &quot;outside&quot; of the pixels of the image rather than through the centers of the border pixels.

[2016-04-13 14:59] dstenger commented on #29
Can you please provide more information (test server, log messages etc.)?

[2016-04-14 13:49] Vinni0803 commented on #29
I'm testing it with mapserver.
you can see the log in screenshot.
And here is layer in map file :
    LAYER
    CONNECTION "host=localhost port=19095 user=xxxx password=asdf123 dbname=xxxxx"
    CONNECTIONTYPE POSTGIS
    DATA 'geom from "cite:lakes" using unique gid using srid=4326'
    EXTENT 0.0006 -0.0018 0.0031 -0.0001
    METADATA
      "wms_srs"	"CRS:84 EPSG:4326"
      "wfs_srs"	"EPSG:4326

[2016-04-15 06:53] Vinni0803 commented on #29
done with this issue. The problem is : I have not given any style to lakes layer that's why  it was failing.

[2016-04-15 15:43] #29 closed

[2016-04-15 16:44] dstenger commented on #27
It seems that HTTPS URLs cannot be used.

We will discuss how to handle this issue.

[2016-04-25 12:19] dstenger commented on #26
There is a bug in function "functions:boolean-as-integer".
Following line leads to the error:
"<xsl:when test="$boolean-or-int = 1">1</xsl:when>"

Here, a string is compared to a double. This can be resolved by converting all values to strings (on code-side).

[2016-04-25 14:40] bermud commented on #27
@upendra-sachan, can you please investigate this issue? It is related to the work we want to advance in the overall HTTPS TE strategy.

[2016-04-28 13:59] dstenger commented on #26
We created a fix which is provided by pull request #30.

The fix will be included in the next release.

[2016-04-29 10:29] dstenger commented on #26
Pull request #30 was merged into master branch (after having done tests).
Fix will be part of the upcoming release.

[2016-04-29 10:29] #26 closed

[2016-05-02 14:47] bermud commented on #11
Please add some information here: /ets-wms13/src/site/markdown/index.md

[2016-05-12 16:27] dstenger commented on #28
Fix can be done as proposed by @rjmartell. Testing is not possible as no public available test server exists.

[2016-05-18 13:13] dstenger commented on #11
Hint about missing service parameter was added and is provided by pull request #31.
This adjustment will be part of the next release.

[2016-06-02 14:34] dstenger commented on #11
The pull request (#31) was tested successfully, merged to the master branch and will be part of the upcoming release.

[2016-06-02 14:34] #11 closed

[2016-06-20 12:58] keshav-nangare opened #32 "The element type "<log>" must be terminated by the matching end-tag "</log>". The end tag is missing in log file"
This issue occurred only when we stop the test execution in the middle, the following tags are missing in log file (TE_BASE\users\s0034\log.xml) :

1.The overall result i.e. `<endtest result="1"/>` element is missing.

2.The end tag `</tag>` is missing.

Attached log file: [s0034.zip](https://github.com/opengeospatial/ets-wms13/files/323418/s0034.zip)

[2016-06-20 18:03] bermud commented on #28
@keshav-nangare, pleas take a look a this issue, it seems is a TEAM Engine issue.

[2016-06-23 10:18] keshav-nangare commented on #28
I tried to reproduce this issue but not able to reproduce it, tested with the WMS13-1.19-SNAPSHOT and teamengine 4.6.

Tested with the following services:
1. http://cite.deegree.org/deegree-webservices-3.3.14-2/services/wms?service=WMS&request=GetCapabilities
2. http://cite.demo.opengeo.org:8080/geoserver_wms13/wms?service=wms&request=getcapabilities&version=1.3.0
3.http://services.interactive-ins

[2016-06-24 14:25] bermud commented on #28
I will close this issue. Seems the fix didn't cause any issues and we don't have any server to test that we can replicated this error.

[2016-06-28 13:17] dstenger commented on #32
Thank you for reporting. We will do further investigation.

[2016-06-29 10:20] lgoltz commented on #32
The log file at TE_BASE\users\s0034\d3668e359_1/log.xml is also broken (missing element endtest and closing tag _log_ .

I think this is a problem of the teamengine, not of the ets-wms13. It can be reproduced this with the ets-wfs11, too. But there the log.xml in the main directory is ok, but several others not as you can see in the attached log file [s0058.zip](https://github.com/opengeospatial/e

[2016-06-29 15:04] bermud commented on #32
@lgoltz,  Thank you for looking.
@keshav-nangare, please use this service to reproduce the issue http://cite.deegree.org/deegree-webservices-3.3.14/services/wfs110?service=WFS&amp;request=GetCapabilities, and further investigate a fix in TEAM Engine.

[2016-06-30 07:45] dstenger opened #33 "WMS 1.3.0 getcapabilities:normative-schema failure"
Team Engine 4.6.
Specification: WMS – 1.3.0 [1.16]
Service: http://ws.cadcorp.com/ogctest/ogctest.exe?

I don’t understand why test 4.2.1 (getcapabilities:normative-schema) failed. I believe our service returns a correct XML schema document.

______________
from CITE-Forum

[2016-06-30 07:46] dstenger commented on #33
TEAM Engine gives following error message:
[code]

[2016-06-30 07:56] dstenger commented on #33
The test compares the WMS schema referenced in the capabilities with the one on http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd.

The schema location in the capabilities looks like this:
[code]

The schema is reachable via the referenced URL if the ampersand is escaped.

Further analysis should be done if the ampersand in the query part leads to the described error.

[2016-06-30 10:45] lgoltz commented on #33
As dstenger said not the capabilities are validated but the schemas from the schemaLocation in the capabilities are compared with the one from  http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd

As far as I see a lot of the errors "The schema does not define...") are defined in the xlink schema http://www.w3.org/1999/xlink.xsd (which is referenced in http://schemas.opengis.net/wms/1.3.0/

[2016-07-12 08:52] dstenger commented on #33
The issue has been solved by updating the xlink.xsd referenced in the service.

[2016-07-12 08:52] #33 closed

[2016-07-22 14:32] bermud commented on #27
similar to #46

[2016-08-02 11:27] keshav-nangare commented on #32
Fixed with this commit ed3eb8f6bf196959aa480b14f8d94ce5428f20a5

[2016-08-10 15:23] bermud commented on #32
This was fixed in TE release 4.8 with this commit https://github.com/opengeospatial/teamengine/pull/182

[2016-08-10 15:23] #32 closed

[2016-10-11 19:46] rjmartell opened #34 "Enable test execution using a RESTful API"
If it were possible to invoke a CTL test suite using a RESTful API (as can be done with a TestNG-based suite) it would be much easier to hide the details about how a test suite is implemented and to facilitate interworking with test suites developed for WMS profiles (e.g. DGIWG, NSG).

The [teamengine-spi-ctl](https://github.com/opengeospatial/teamengine/tree/master/teamengine-spi-ctl) module prov

[2016-10-12 17:37] rjmartell commented on #34
A special main-auto.xml script was added to exclude all tests that require manual intervention (these present a web form to a human "test oracle").

[2016-10-12 17:46] #34 closed

[2016-10-20 14:46] bermud opened #35 "Test should represent better the conformance classes"
Issue 1: The specification talks bout 2 conformance classes: WMS Basic and Queryable WMS. We should refractor the test so the root parent in the CTL only has two children "WMS Basic" and "Queryable WMS".

Issue 2: We have these options in the test:
- Raster ELEVATION
- Vector ELEVATION
- TIME

Are all these a conformance class or?

[2016-10-28 17:33] rjmartell commented on #35
Try delineating the conformance classes using the ctl:profile tag, such that **Queryable WMS** depends on **Basic WMS**. The Q-WMS tests are only run if `GetFeatureInfo` is advertised in the capabilities doc; they're skipped otherwise.

[2016-11-04 07:24] dstenger opened #36 "Test execution with Web GUI does not work with current status of master branch"
Test execution with Web GUI does not work any more due to the commits regarding the REST interface.

When a test session is started via GUI, the dialogue for the URL is skipped and thus the tests are executed without URL.

This leads to a failing main function:
[code]

[2016-11-04 13:59] dstenger commented on #35
Regarding issue 1:
So, the aim is to improve the code structure for developers and to enhance the comprehensibility of the structure of the test results for users?

Regarding issue 2:
No, these are no conformance classes.
They test the "Handling multi-dimensional data", which is described in Annex C (page 51) and Annex D (page 57).
So, there is a reason to handle them separately.

@rjmartell: Than

[2016-11-04 14:44] dstenger commented on #35
Next step: Create root elements for both CCs and 3 optional categories (Raster ELEVATION, Vector ELEVATION and TIME).

[2016-11-07 19:02] rjmartell commented on #36
I just ran the latest snapshot against the deegree implementation.

![ets-wms13-form](https://cloud.githubusercontent.com/assets/1653506/20071417/4d905a0c-a4d9-11e6-8d8a-169714809e14.png)

The suite ran to completion; there were no test failures (226 passed).

Note that TEAM Engine 4.9 is required.

[2016-11-08 08:05] dstenger commented on #36
Thank you!

We used an older version for testing which explains the bug.

Nevertheless, [1] currently uses TEAM Engine 4.6. If we create a new release now, it requires TE 4.9 and thus cannot be installed on [1] (unless TE is updated).

@bermud: Do you think that is OK?

[1] http://cite.opengeospatial.org/teamengine/

[2016-11-08 17:06] rjmartell commented on #36
And don't forget that there is now a JAR file that must be deployed to TE_BASE/resources/lib: `ets-wms13-*.jar`

[2016-11-08 17:08] rjmartell commented on #36
Perhaps we roll it out to the "alpha" site for now, and when everything for TB-12 is finalized we push it to beta.

[2016-11-10 17:32] dstenger commented on #36
I would propose to bundle all *.jar files in a *-deps.zip archive, as it is done in all other test suites.
What do you think @rjmartell ?

[2016-11-11 10:53] dstenger commented on #36
Unfortunately, the dialogue is still not appearing.
I am using following setup:
* TEAM Engine 4.9
* Tomcat 7
* Java 1.8.0_111

Following can be monitored in the log file:
[code]

[2016-11-14 22:44] rjmartell commented on #36
I used the virtual appliance generated for VirtualBox (CentOS 7.2.1511): TEAM Engine 4.9, JDK 8u111, Tomcat 7.0.72. No problems were observed.

![capture](https://cloud.githubusercontent.com/assets/1653506/20285833/d2052e1c-aa78-11e6-9fa1-40c1d49ca2df.png)

[2016-11-15 00:45] #36 closed

[2016-11-15 10:25] dstenger commented on #36
I can confirm that the bug is solved for my setup as well:
* OS: Debian 7
* TEAM Engine 4.9
* Tomcat 7
* Java 1.8.0_111

[2016-11-21 07:04] swen100 opened #37 "missing urlencoding"
Hello,

some of the WMS 1.1/1.3 tests fail because the request-url does not follow the standard in encoding reserved characters.

For example in the “wms:wmsops-getmap-params-exceptions-2”-test there is a parameter “FoRmAt” with a missing encoding of the whitespace-character in the value:
“...&FoRmAt=image/png; mode=24bit&...”

It should be: “...&FoRmAt=image/png;**%20**mode=24bit&...“

see https:

[2016-11-21 09:59] dstenger commented on #37
Thank you for reporting this issue. We will do further investigation.

[2016-11-21 15:52] dstenger commented on #37
You are right. The format value is not encoded by the test suite.

Can you provide a service we can use to test a fix?

[2016-11-22 08:59] swen100 commented on #37
sure, u can use this one (only available for requests from http://cite.opengeospatial.org):
https://wms.onmaps.de?key=3b8a499f437e2b6c2c164df4f036537d&service=wms

[2016-11-22 14:25] dstenger commented on #35
The adjustments are quite complex as the different CCs are distributed over several ctl script files.
So, single tests have to be extracted to be able to group all test of a CC.
Work is currently in progress: https://github.com/lat-lon/ets-wms13/tree/restructureTestsToRepresentCCs-4150

[2016-12-02 13:17] dstenger commented on #37
We are currently working on a fix.

[2016-12-02 13:43] dstenger commented on #35
We continued with the refactoring of the tests (see previously mentioned branch).

Currently, following elements are on the root level of the ctl script:
 * universal (data independent tests)
 *   std-data-present (tests if standard data are present)
 *   basic (cc)
 *   queryable (cc)
 *   raster_elevation (annex)
 *   vector_elevation (annex)
 *   time (annex)
 *   recomendations (recomendations

[2016-12-15 11:02] dstenger commented on #37
A fix was created and is provided via pull request #38.
The pull request will be merged right before the next release is built.

[2017-01-06 17:00] dstenger commented on #35
Some proposed improvements:
* Rename "universal" to "data independent"
* Rename "std-data-present" to "data preconditions"

[2017-01-16 12:12] keshav-nangare opened #39 "Extracting local names and prefixes"
#35
1. Need to add the conformance class configuration attributes in the conformance class test to represent the conformance classes in the EARL report.

`For example: <ctl:test name="getcapabilities:main" isConformanceClass="true" isBasic="false">`

**"isBasic":** Represent the basic conformance class. Its value is 'true' if that conformance class is basic otherwise is 'false'.

2. Update the tes

[2017-01-17 15:41] bermud commented on #39
The CTL tests refer to tests and sometimes put the prefix before and sometimes after. This might be a related problem.

`
 <ctl:call-test name="interactive:main">
               <ctl:with-param name="basic" select="$basic"/>
            </ctl:call-test>

            <ctl:call-test name="main:options-requirements">
               <ctl:with-param name="basic" select="$basic"/>
               <ctl:wi

[2017-01-17 16:07] bermud commented on #39
'main' can be a prefix and in some cases it can be a local test as well. If we have text1:text2, text1 is always the prefix and text2 is always the local name.

[2017-01-17 21:54] pomakis opened #40 "the getfeatureinfo:each-queryable-layer tests pass an empty CRS string"
The getfeatureinfo:each-queryable-layer tests pass an empty CRS string when testing "https://demo.cubewerx.com/cubewerx/cubeserv/cite_wms130?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.3.0".  E.g., it sends:

https://demo.cubewerx.com/cubewerx/cubeserv/cite_wms130?&LaYeRs=citedata_wms_130.Autos&WiDtH=100&HeIgHt=100&I=50&BbOx=0,0,1,1&CrS=&ReQuEsT=GetFeatureInfo&InFo_fOrMaT=application%2Fgml%2Bxml

[2017-01-17 22:05] pomakis opened #41 "WMS 1.3.0 tests make requests with '&' immediately after '?'"
The WMS 1.3.0 specification (OGC 06-042) section 6.3.3 states:

    An Online Resource URL intended for HTTP GET requests is in fact only a URL prefix to which additional parameters are appended in order to construct a valid Operation request. A URL prefix is defined in accordance with IETF RFC 2396 as a string including, in order, the scheme (“http” or “https”), Internet Protocol hostname or nume

[2017-01-18 08:36] dstenger commented on #41
Thank you for reporting the issue. We will do further investigation.

[2017-01-18 08:36] dstenger commented on #40
Thank you for reporting the issue. We will do further investigation.

[2017-01-24 09:18] dstenger commented on #35
Included solution for proposed improvements into feature branch.

[2017-01-24 09:18] dstenger commented on #35
Pull request #42 was created.

[2017-01-31 16:30] dstenger commented on #35
The feature branch was tested successfully and merged into master branch.
It will be part of the upcoming release.

[2017-01-31 16:30] dstenger commented on #37
The feature branch was tested successfully and merged into master branch.
It will be part of the upcoming release.

[2017-01-31 16:30] #35 closed

[2017-01-31 16:30] #37 closed

[2017-02-08 15:31] eswright opened #43 "confused. Why test images are xml"
<ServiceExceptionReport version="1.3.0" xsi:schemaLocation="http://www.opengis.net/ogc http://schemas.opengis.net/wms/1.3.0/exceptions_1_3_0.xsd"><ServiceException code="LayerNotDefined">
Parameter 'layers' can not be empty.
  </ServiceException></ServiceExceptionReport>

I don't get the image when running a test.  I only get this.    sorry....first time user...

[2017-02-08 15:51] dstenger commented on #43
Thank you for reporting this issue.

What are you exactly getting? Can you please post the whole output or attach a screenshot?

[2017-02-08 16:13] eswright commented on #43
![image](https://cloud.githubusercontent.com/assets/4115789/22745587/1bbbc4da-edef-11e6-9c6f-98cf4e012fe0.png)
![image](https://cloud.githubusercontent.com/assets/4115789/22745742/98519448-edef-11e6-9543-2855d66564b6.png)
This is what is see when I open the 'image' in a new tab.  both in Chrome and Firefox

[2017-02-08 18:52] eswright commented on #43
Okay...I think it is clear.   I cannot test someone else's implementation, but only my own that I put the test dataset in.  Correct?  Is there a way other than trial and error to test functionality of, say, an ESRI supplied MapServer WMSServer?

[2017-02-09 10:10] dstenger commented on #43
Correct, you have to use the provided test data.

The wms13 test suite contains numerous data independent tests. Unfortunately, in the current release it is hard to identify those tests. We are already working on a new version which structures the test results better.
If you deactivate all options in the gui when starting the tests, just data independent tests should be applied.

[2017-02-09 16:02] #43 closed

[2017-02-09 16:05] dstenger commented on #39
Nest step: Refactoring of prefixes and names.

[2017-02-16 16:22] dstenger commented on #41
This case represents an existing empty KVP which is valid according to URI RFC.

Is this issue still important for you, as I see that following request works, now?
https://demo.cubewerx.com/cubewerx/cubeserv/cite_wms130?&FoRmAt=text%2Fxml&ReQuEsT=GetCapabilities&VeRsIoN=1.3.0&SeRvIcE=WMS

[2017-02-16 16:29] dstenger commented on #40
There can no CRS be identified as the layer citedata_wms_130.Autos does not have one configured. Instead the CRS is inherited from a parent layer which is not considered by the test suite.

So, the test has to be fixed that also CRS definitions of parent layers are considered.

[2017-02-16 17:20] pomakis commented on #41
Yes, our servers handle it.  However, even though an empty string may be a legal key-value pair in a URL, and as such, WMS servers should simply ignore it, it isn't an intentional aspect of the test suite.  It's a side effect of the test suite not properly implementing section 6.3.3 of the WMS 1.3.0 specification.  Plus, it's an eyesore to see in the URLs that the test suite invokes.

So it's not

[2017-02-24 10:26] dstenger opened #44 "Test getmap:invalid-crs fails because of a NoSuchElementException"
Service: http://forums.igenesys.com/iGenVision/cite/wms?service=WMS&request=GetCapabilities&version=1.3.0

Error:
[code]

[2017-03-01 15:40] dstenger commented on #41
Doesn't the specification just cite IETF RFC 2396? Why is an empty KVP contrariwise to the specification? Also, if you read the specification as pedantically as possible all requests must end with an "&" which is not applied, too.

Of course, I agree that such a URL does not look like most users would expect it.

[2017-03-01 16:34] #41 closed

[2017-03-06 09:59] pblottiere opened #45 "[Fatal Error] An invalid XML character was found in the element content of the document."
Hi,

I'm trying to run ets-wms13 on QGIS Server but when I run tests, I have the next issue described in the logfile:

[code]

Versions currently used:
- teamengine: 4.10
- ets-wms13: 1.20
- Ubuntu 16.04.1 LTS

Some scripts are available here to build a Docker container provisioned with Ansible with Teamengine, ets-wms13 and QGIS Server : https://github.com/pblottiere/docker-qgis-ogc-cite.

So I t

[2017-03-07 10:14] dstenger commented on #45
Thank you for reporting the issue.

Does the failure occur when you run the tests or when you start the TEAM Engine?
Can you please test your service on http://cite.opengeospatial.org/teamengine/ and check whether the same error is occurring?
Can you please test an official reference implementation [1] (e.g. [2]) with you locally set up TEAM Engine? Can the ETS handle this service?

[1] https://gi

[2017-03-07 10:55] pblottiere commented on #45
Yes, when I run the tests.

The same error is happening when I use the web page or when I use the Rest API.

I'm sorry but I'm not sure to understand what you want me to do... But the GetCapabilities for QGIS Server seems OK. And the ETS is well running tests until it fails on a specific test (getmap:bbox-minx-eq-maxx I think).

[2017-03-07 10:58] pblottiere commented on #45
Actually, I think it's not totally true. I have the feeling that all tests are running but it seems to fail during the reporting step because of the `getmap:bbox-minx-eq-maxx` result.

[2017-03-07 15:48] dstenger commented on #40
Bug was fixed by #46.
Branch was merged into master branch and the fix will be part of the upcoming release.

[2017-03-07 15:48] #40 closed

[2017-03-07 16:08] pblottiere commented on #45
By the way, I think it's more or less the same issue than the one described in this ticket: https://github.com/opengeospatial/ets-wms13/issues/28

[2017-03-08 10:45] pblottiere commented on #45
@dstenger

I tried my local TEAM Engine and it's working fine with geoserver http://cite.demo.opengeo.org:8080/geoserver_wms13/wms?service=wms&request=getcapabilities&version=1.3.0

The report is well published without any errors.

What do you think?

[2017-03-13 07:20] lgoltz commented on #44
Which Version of the TEAM Engine/ETS was used? Where is the error log reported (tomcat console, TEAM Engine concole, test execution log)?

Locally with 4.10/1.22-SNAPSHOT I cannot reproduce the problem with the official alpha TEAM Engine [1] 4.10/1.19 the test is not executed.

[1] http://cite.opengeospatial.org/teamengine

[2017-03-14 08:04] dstenger commented on #45
Thank you for the further analysis. So, we can conclude that the failure definitely results from the service.

[2017-03-14 08:11] dstenger commented on #45
Can you provide us an endpoint to reproduce the error?
Also, a short guide how to set up the service with Docker would be fine.

[2017-03-14 08:15] pblottiere commented on #45
I think the easiest way is that I build a ready to use Docker image. Then I'll publish it and you'll be able to use it.

I let you know.

Thank you for your response!

[2017-03-15 15:32] dstenger commented on #44
Quote:
We are using Team Engine : Web Map Service (WMS) -Version 1.3.0 - Test Suite Revision - 1.19
      http://cite.opengeospatial.org/teamengine/

Error log reported : Test Execution log. Please see attached error log file and result screenshot.

[2017-03-22 09:03] pblottiere commented on #45
@dstenger

You have a ready to use Docker image available thanks to:

[code]

Then, to run it:

[code]

A QGIS Server and my Teamengine setup are both running . To have the getCapabilities result from Qgis Server:

[code]

To run Teamengine test suite for WMS 1.3.0 with Qgis Server:

[code]

The `<CONTAINER_IP>` can be retrieved with the `docker inspect` command.

And finally, once logged on the c

[2017-04-05 16:17] pblottiere commented on #45
@dstenger

Once the following tests deactivated in `getmap.xml`, my report is well generated:
- getmap:bbox-minx-gt-maxx
- gettmap:bbox-miny-gt-maxy
- getmap:invalid-style
- getmap:first-style-invalid
- getmap:second-style-invalid

Do you have some news about this issue?

[2017-04-18 13:43] dstenger commented on #45
Thank you for the information.

I tried to start the environment with Docker. So far, everything works fine, but the applications are not started after having executed the above documented commands. Do I have to start them manually?

If it can be confirmed that your issue is the same as in #28, I will close this issue and continue working in #28 (to avoid duplicated documentation).

[2017-04-20 07:47] lgoltz commented on #45
I've the same problem as Dirk described in https://github.com/opengeospatial/ets-wms13/issues/45#issuecomment-294848450

Can you provide the session logs of the test executed in https://github.com/opengeospatial/ets-wms13/issues/45#issuecomment-288337460?

[2017-04-21 12:08] dstenger commented on #39
Refactoring was executed and is provided via pull request #47.

[2017-04-24 06:55] pblottiere commented on #45
@dstenger @lgoltz

It's odd... I tried the previous procedure step by step with a clean docker pull and everything is working fine on my side. Did you start the container with parameters as described in the comment? As a reminder:

[code]

Once connected to the container, the `top` command indicates that everything is running (nginx, qgis-server, java and so on):

[code]

The log file : [catalina.

[2017-04-24 07:25] lgoltz commented on #44
In the error log (s0006/error_log/log.txt) a lof of connection timeouts are reported. I assume the !NoSuchElementException is a a subsequent error from this. Maybe it is related to https://github.com/opengeospatial/teamengine/issues/101

[2017-04-24 07:36] lgoltz commented on #45
I've tried again, but without success:
[code]

The catalina log helps only if you provide the log file of the test session, too.  At least the file referenced in the catalina log is required:

[Fatal Error] log.xml:42:33: An invalid XML character (Unicode: 0x10) was found in the element content of the document:
[code]

[2017-04-24 07:44] pblottiere commented on #45
OK. Maybe a docker version... :

[code]

Here is the corresponding log file: [log.txt](https://github.com/opengeospatial/ets-wms13/files/950707/log.txt)

[2017-04-26 13:23] #44 closed

[2017-05-04 09:27] lgoltz commented on #45
The log file contains an image where a xml entity or string is expected. The concerned test `bbox-miny-gt-maxy` expects a ServletException as response to a GetMap request, instead an image is returned.

This is already described in #28.

[2017-05-04 11:47] dstenger commented on #28
Reopened as issue was reported again: #45

[2017-05-04 11:47] dstenger commented on #45
#28 is reopened and the issue will be discussed and solved there.

[2017-05-04 11:47] #45 closed

[2017-05-10 10:47] keshav-nangare opened #48 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-05-10 12:19] dstenger commented on #39
Fix was tested successfully, merged into master branch and will be part of the next release.

[2017-05-10 12:19] #39 closed

[2017-06-08 14:26] dstenger commented on #28
A fix was implemented and a pull request created: #45
It will be merged to master branch prior to the next release if all tests of the fix are successful.

[2017-06-08 14:37] dstenger commented on #45
#28 was solved. Please see https://github.com/opengeospatial/ets-wms13/issues/28#issuecomment-307120012

[2017-08-09 13:11] dstenger opened #50 "Enable REST API"
Output of response should be EARL.

[2017-08-18 09:47] dstenger commented on #50
REST API is enabled by following pull request: #51.

For example, following URL can be used to run tests via REST interface: http://host/teamengine/rest/suites/wms/1.23-SNAPSHOT/run?capabilities-url=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms130?service=WMS%26request=GetCapabilities

The response is returned in XML (CTL) format.

If response should be returned in EARL format b

[2017-08-21 08:12] dstenger commented on #48
We have a few questions regarding the extension:

* What is impact of setting ```isConformanceClass``` and ```isBasic```? How does the test result differ if one or both of the attributes are set?
* Can't we set attribute ```isConformanceClass``` on all tests to make all of them visible in EARL report? How are tests treated which do not have any attribute (I guess they are missing in EARL report)?

[2017-08-21 10:18] keshav-nangare commented on #48
With the reference of this link:  https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

1. The attribute `isConformanceClass` and `isBasic` is used to mark test as conformance class because we don't have capability in CTL test to identify the conformance classes(CC) and basic conformance class.
    If the test is not a CC then there is no need to add any attribute.

2. We have

[2017-08-21 14:29] dstenger commented on #48
The updated CTL schema is relevant for the solution of this issue as the test suite version which includes this enhancement will just work with a TEAM Engine version with the updated schema.
This is very important for the release notes.

[2017-08-22 10:55] #50 closed

[2017-08-22 10:55] #28 closed

[2017-08-22 14:46] dstenger commented on #48
This is our working branch for this enhancement: https://github.com/lat-lon/ets-wms13/tree/ctlEncodingConformanceClasses-48

In general, the feature already works if branch ```earl_report``` of TEAM Engine is used.

But, as the hierarchy of the tests is still complex, the details of the HTML report are limited. Thus, further refactoring of the CTL has to be done.

[2017-10-19 09:41] dstenger commented on #27
This issue is a TEAM Engine enhancement and is covered by https://github.com/opengeospatial/teamengine/issues/255.

Please follow the status of that issue.

Thus, this issue can be closed for now. If there will still be problems with resources retrieved via HTTPS protocol after https://github.com/opengeospatial/teamengine/issues/255 will have been solved, please reopen this issue.

[2017-11-03 15:03] bangph opened #52 "Cannot view the CTL test of a test case from current session result"
In the result of the currrent session for example: test WCS 2.0.1 and click on the test case, it will show the CTL of this test case, like this http://cite.opengeospatial.org/teamengine/listings/srv_local_teamengine-prod_TE_BASE_scripts_wcs_2.0.1_ctl_ext_crs.html#wcs2:crs

But for WMS 1.3, it will throw exception e.g:
http://cite.opengeospatial.org/teamengine/listings/worksrv_local_teamengine-prod

[2017-11-03 15:05] bangph commented on #52
@dstenger @keshav-nangare It should be fixed then WMS service provider could know what the test case is and why it failed.

[2017-11-03 15:29] dstenger commented on #52
Thank you for reporting this. We will do further investigation.

[2017-11-06 15:26] lgoltz commented on #48
I've tested the current status of the branch
https://github.com/lat-lon/ets-wms13/tree/ctlEncodingConformanceClasses-48 with teamengine 5.1-SNAPSHOT and service [1].
 * In the new HTML report the hierarchy is limited to the base level (conformance class) and one sub level (the tests of the conformance class). Currently the depth of the hierarchy of the ETS WMS 1.3 is 4 (at least). I assume that te

[2017-11-07 13:35] keshav-nangare commented on #52
@dstenger

I fixed this issue with the wms13 `config.xml` file. To access all the sources we need to give directory so removed specific file name.

Fixed with this commit: f2daf5262c0215835ba552dcc41337e65f4572da

[2017-12-13 09:30] dstenger commented on #27
@pomakis The test service is not available anymore. Can you please reactivate it? We would like to analyse the problem more in detail.

[2017-12-13 16:08] pomakis commented on #27
We're having some hardware problems with that server.  Please stand by.  We're hoping to have it resolved within the next couple of days.  Worst case scenario, I can deploy a similar test case on a different server next week.

[2018-01-31 09:43] dstenger commented on #27
@keshav-nangare Can you please do a deeper analysis?

[2018-02-09 15:38] keshav-nangare commented on #27
@dstenger

Currently, I am getting the SSL error.  [log.txt](https://github.com/opengeospatial/ets-wms13/files/1711525/log.txt)

Caused by: javax.net.ssl.SSLProtocolException: handshake alert:  unrecognized_name
	at sun.security.ssl.ClientHandshaker.handshakeAlert(ClientHandshaker.java:1441)
	at sun.security.ssl.SSLSocketImpl.recvAlert(SSLSocketImpl.java:2016)
	at sun.security.ssl.SSLSocketImpl.re

[2018-02-13 10:50] dstenger commented on #27
The exception ```javax.net.ssl.SSLProtocolException: handshake alert: unrecognized_name``` can be reproduced on beta environment.

Most commonly, the exception occurs when SNI (Server Name Indication) verification is failing which is active per default since Java 7.

@pomakis Do you have access to the web server providing the image [1]? Can you please check if server name and server alias are conf

[2018-02-15 15:03] pomakis commented on #27
This server is rather old.  It uses TLS 1.0 (an obsolete protocol), RSA (an obsolete key exchange), and AES_128_CBC with HMAC-SHA1 (an obsolete cipher).  Perhaps this implies that it's not in fact using SNI; I'm not sure.  If this is the issue, then I'm okay with letting it go.  We're planning on updating that server in the near future anyways.  And I'll leave it to the wisdom of the Java team to

[2018-02-20 10:24] dstenger commented on #27
Can you please give me feedback after you will have updated the server if the issue will be solved then?

[2018-03-13 09:54] #52 closed

[2018-03-21 08:23] lgoltz opened #54 "Description of parameter basic in REST API documentation is missing"
Parameter `basic=basic` is required  to execute the basic test.
If the parameter is missing only the 'data-independent' conformance class is executed.

Behaviour should be the same as in the Web GUI.

[2018-05-03 08:28] lgoltz commented on #48
Fixed in https://github.com/opengeospatial/teamengine/issues/319

[2018-05-03 08:28] lgoltz commented on #48
A new ticket should be created if necessary.

[2018-05-08 15:39] #48 closed

[2018-05-30 07:43] dstenger opened #56 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
Manual: https://github.com/opengeospatial/cite/wiki/How-to-create-and-run-tests-for-test-suites-with-SoapUI

Example how these tests were created for ets-wfs20 and teamengine: https://github.com/opengeospatial/teamengine/issues/318#issuecomment-391722651

Hint: Please keep the tests as close as possible to the ets-wfs20 tests. As far as I see, the SoapUI project can be copied from ets-wfs20 and ju

[2018-06-06 12:33] keshav-nangare commented on #56
Fixed with this [ PR #57 ].

[2018-06-18 19:03] sptillma commented on #12
Over the recent years, there has been a lot of good work improving the CITE tests.  But this issue that I raised over two years ago still has not been addressed.  As this capability to create a WMS over a raster image is rather basic functionality for one of our oldest standards, it seems we should create a test for this option.  I would be ok if we did not attempt to change older tests and only i

[2018-06-19 08:56] dstenger commented on #12
Thank you for the input.

Can you explain the specific aim of such a test? In specification, for example, I do not see a conformance class just covering this case.

[2018-06-19 12:46] sptillma commented on #12
I'm not sure why you are asking this question as the WMS has been supporting raster based data deliver since its beginning - this is certainly not a new concept.  I am simply pointing out that the current test suite is biased toward those that stand up vector based Web Map Services - I don't see a conformance class specific to vector data either.  The current data set that is used for the WMS test

[2018-06-19 13:42] dstenger commented on #12
So, you are asking if the WMS interface which is tested can base on raster source data.
I agree. As the current test data just contain vector data, it is not possible to test a raster based WMS interface.

Thus, the task is to create raster test data and, after that, to adjust the tests.

[2018-06-19 13:53] sptillma commented on #12
Exactly!  I'm glad to see we are now on the same page.  I simply want to see the tests that are specific to the provided vector data be enhanced (or duplicated) to allow for a raster option.  Other tests for things like GetCapabilities should be fine as they are for the most part.

[2018-07-13 11:00] dstenger commented on #12
I propose to enhance the existing test suite to allow testing of raster data sources only.

@bermud What do you think about this?

[2018-08-22 07:51] dstenger commented on #56
Pull request was successfully tested with ```mvn clean com.smartbear.soapui:soapui-maven-plugin:test --non-recursive```

@keshav-nangare Can you please also create the Jenkinsfile (just placeholders of example have to be replaced)? This allows us to execute the tests with a Jenkins server.

[2018-08-22 08:19] dstenger commented on #56
Can you please update the default service URL to: http://cite.deegree.org/deegree-webservices-3.4.0/services/wms130?service=WMS&request=GetCapabilities

[2018-08-28 13:35] keshav-nangare commented on #56
@dstenger

The ets-wms13 already contain the jenkinsfiles, we can see here: https://github.com/opengeospatial/ets-wms13/tree/master/jenkinsfiles

Updated the default service URL into soapui test and pushed into existing PR.

[2018-08-28 14:16] dstenger commented on #56
@keshav-nangare
Yes, there are already some Jenkinsfiles exisiting. But the one for testing has not been created yet.

[2018-08-28 16:50] keshav-nangare commented on #56
Thanks Dirk.

Added the Jenkinsfile for testing into existing PR.

[2018-09-13 10:29] dstenger opened #59 "Save images of interactive tests to session folder of user"
The images that were previewed by the user running the test, shall be saved to session folder of user

Related to: https://github.com/opengeospatial/cite/issues/27

[2018-09-20 11:47] PaulaRodrigo-Geograma opened #60 "ETF Validator - ids"
We want to include other OGC tests in the ETF Inspirational Validator and we do not know where to find the references (dependencies) to the Team Engine Suist tests, could I get help?

Currently the validator adds test for WFS 2.0 adding the dependencies:

[code]

Where can we find these identifiers (ids) in the case of WMS, or WMTS?

thanks!

[2018-09-20 13:43] PaulaRodrigo-Geograma commented on #60
I land more in the problem:

1. In the case of WFS 2.0, the ETF validator calls a rest services of the OGC, specifically:
http://cite.opengeospatial.org/teamengine/rest/suites/wfs20/1.26/

2. The service is executing the tests defined by theOGC in:
http://cite.opengeospatial.org/teamengine/about/wfs/2.0.0/site/

3. What you would need to know is how to implement a service, like the previous one (1

[2018-09-20 15:15] lgoltz commented on #60
The REST API of WMS 1.3 is implemented in version 1.23 (see #50). On the official [TEAM Engine](http://cite.opengeospatial.org/teamengine/) version 1.22 is still deployed. You could use the beta version for testing until the new version of the test suite is deployed on production : http://cite.opengeospatial.org/te2/

[2018-09-20 15:35] PaulaRodrigo-Geograma commented on #60
Thank you! And you know when it will be replaced to the official version?

[2018-09-20 20:13] lgoltz commented on #60
Well, we have this on our agenda, but currently no due data.

[2018-09-21 07:04] PaulaRodrigo-Geograma commented on #60
One last question, will the OGC requirements for Sensor Observation Service be included? Thanks!

[2018-09-21 16:46] lgoltz commented on #60
@PaulaRodrigo-Geograma The test suite for SOS (in both versions 1.0.0 and 2.0) are already deployed. SOS 1.0.0 on production is one version behind beta, an updated is planned. Does this answer your question?

[2018-09-24 08:34] PaulaRodrigo-Geograma commented on #60
Yes, thanks for the clarifications!

[2018-09-26 07:06] PaulaRodrigo-Geograma commented on #60
Hi! I still have doubts about the last question.
We are confused with the implementations of the services for the OGC tests referring to the SOS Services:

- According to the test suites listed in the beta version of the opengeospatial site (http://cite.opengeospatial.org/te2/), there should be these two groups of executable tests:

Sensor Observation Service (SOS) 1.0.0 1.14 Final
Sensor Observat

[2018-10-18 07:48] keshav-nangare commented on #59
@dstenger

All CTL forms are processed by teamengine so its good to handle save images there in teamengine. So Created the issue in teamengine: https://github.com/opengeospatial/teamengine/issues/365

[2018-10-31 11:33] #56 closed

[2018-11-09 14:04] dstenger opened #61 "Introduce Dockerfile and Maven Docker plugin"
Please see: [How to create Docker Images of test suites](https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites)

[2018-11-19 09:04] dstenger commented on #61
@keshav-nangare
For me, the changes look fine.
I tested them successfully with `mvn clean install docker:run -Pdocker` and was able to open TEAM Engine with ETS via http://localhost:8081/teamengine/.
Can you please describe your problems? Is Docker installed and executable by current OS user?

[2018-11-30 00:28] moello opened #62 "XPath seems to need use of braces"
There seems to be a problem, I get this error:

Clients may request TRANSPARENT=TRUE on a layer that is opaque.
	A sequence of more than one item is not allowed as the first argument of string() (, )

In the code I found this line:

[code]

I use this service:

https://cardo.cottbus.de/net3/public/ogc.ashx?nodeId=643&Service=WMS&Request=GetCapabilities&

If I test following XPath I get 2 hits: WMS

[2018-11-30 13:03] keshav-nangare commented on #61
@dstenger

I have update docker and able to open TEAM Engine webapp with ETS. The issue is resolved now.

Thank you!

[2018-12-04 11:04] lgoltz commented on #62
Thank you for reporting. We will do further investigation.

[2018-12-05 09:54] keshav-nangare commented on #61
[code]

[2018-12-05 10:00] dstenger commented on #61
I also tried to execute Docker with Maven docker plugin: `mvn clean install docker:run -Pdocker`

It works as expected and I can access Web Browser Interface via http://localhost:8081/teamengine/.

Maybe, there is an environment/ OS specific problem?

[2018-12-05 10:05] dstenger commented on #61
We should check if Docker Maven plugin is working with Docker version 18.06.1-ce.
I am currently using Docker version 1.13.1.

[2018-12-06 11:17] keshav-nangare commented on #62
Fixed with this commit: 12efadd6ec02033f838ea7ee0aa40ba69bba716f

[2019-01-02 15:07] #61 closed

[2019-01-03 07:09] lgoltz commented on #60
For both ETS the REST API is not enabled yet. We created issues for that:
 * https://github.com/opengeospatial/ets-sos10/issues/8
 * https://github.com/opengeospatial/ets-sos20/issues/26

@PaulaRodrigo-Geograma Please close this issue if all questions are answered.

[2019-01-03 11:15] lgoltz opened #65 "Update version of teamengine-spi-ctl"
Currently 4.10 is referenced.
Current release is 5.3.
Wait until 5.4 is released.

[2019-01-03 11:17] lgoltz commented on #59
Requires TEAM Engine 5.4 or higher.

[2019-01-03 11:17] #59 closed

[2019-01-07 20:39] joel1451 opened #66 "Provided Sample WMS service URL not valid"
the OpenGIS WMS implementation specification here http://portal.opengeospatial.org/files/?artifact_id=14416 on heading H.1 provides a sample XML capabilities URL which is valid. the URL is here: http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xml when you paste this url in the OGC testing validator online, the test shows that this fails with 6 errors. Some of the errors are that there are

[2019-01-08 15:10] joel1451 commented on #66
Yes the provided WMS url passes the test, this issue is now closed.

[2019-01-08 15:10] #66 closed

[2019-01-21 09:16] keshav-nangare commented on #54
@lgoltz
The description of the REST API documentation is updated with parameter basic. This basic CC is selected by default in GUI.

Should I enable this CC default through REST API?

[2019-04-18 10:36] #54 closed

[2019-05-24 13:56] dstenger opened #68 "Update tests to use TEAM Engine 5.4"
Applies to integration and system tests.

SoapUI project must be updated as version was removed from URI to test suites of REST API (also see https://github.com/opengeospatial/teamengine/issues/261).
Please also update Maven configuration and set version of SoapUI Maven Plugin to 5.5.0.

See updated documentation: https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-So

[2019-05-31 15:15] dstenger opened #69 "REST API: URI of test suite is equal to WMS 1.1 test suite"
Currently, REST URI of test suite is `[TEAM_ENGINE]/rest/suites/wms/` which is equal to WMS 1.1 test suite.

Example: See Beta environment: http://cite.opengeospatial.org/te2/rest/suites/wms/

REST URI of test suite shall contain major and minor version of specification: `[TEAM_ENGINE]/rest/suites/wms13/`

[2019-07-24 07:30] keshav-nangare commented on #68
Fixed this commit: 5f0c8da4d0a8aedc9f5ac763c107c00cda581778

[2019-07-24 07:32] keshav-nangare commented on #68
The issue https://github.com/opengeospatial/ets-wms13/issues/69 should be considered to update REST URI in the future.

[2019-07-24 12:17] dstenger commented on #68
After making some adjustments, the integration tests (`mvn clean install site -Pintegration-tests`) return a passed result.

[2019-07-24 12:18] #68 closed

[2019-07-25 09:48] dstenger commented on #69
Please also adjust the SoapUI project for integration tests.
Following build must be successful: `mvn clean install site -Pintegration-tests`

[2019-07-25 09:54] dstenger commented on #27
@pomakis Can you please confirm if this issue is solved?

[2019-07-25 09:56] dstenger commented on #60
@PaulaRodrigo-Geograma Are there still any open questions? Otherwise, this issue can be closed.

[2019-07-30 16:30] pomakis commented on #27
Yes, this issue appears to have been resolved.  Thanks.

[2019-07-31 07:02] #27 closed

[2019-08-19 10:56] keshav-nangare commented on #69
Fixed with this commit: 94f6161917f21f912f38425f53934feecff8f64d

[2019-12-09 12:19] #69 closed

[2019-12-09 12:21] #65 closed

[2019-12-18 11:32] dstenger commented on #60
Please reopen this issue if there are any open questions.

[2019-12-18 11:32] #60 closed

[2020-04-27 12:06] dstenger opened #74 "Ignore CRS with AUTO2 prefixes"
This affects test `each-crs`.

[2020-04-27 13:53] dstenger commented on #74
Example: A CRS definition like "AUTO2:12345" in capabilities document shall be ignored by the test.

[2020-04-28 13:43] keshav-nangare commented on #74
Fixed with the PR: #75

[2020-06-02 11:41] robinhoutmeyers opened #76 "Unexpected GetFeatureInfo location used by the WMS server 1.3.0 test"
During WMS server 1.3.0 compliance testing of http://demo.luciad.com:8080/ComplianceLightspeedOGC2020/wms, I encountered 2 failures related to the handling of GetFeatureInfo requests; this happened with the tests "feature_count_default" and "feature_count_1". While investigating these failures, I noticed the following:
- both tests seem to include a GetFeatureInfo location (50,50) that does not al

[2020-06-02 17:40] dstenger commented on #76
@robinhoutmeyers Thank you for reporting. I transferred this issue to the ets-wms13 repository as your question is targeting this test suite.

@keshav-nangare Can you please take a look at the reported problem?

[2020-06-15 09:09] keshav-nangare commented on #76
@dstenger

Request:
http://demo.luciad.com:8080/ComplianceLightspeedOGC2020/wms?&QuErY_LaYeRs=cite:BasicPolygons&I=60&LaYeRs=cite:BasicPolygons&StYlEs=&WiDtH=100&CrS=CRS:84&ReQuEsT=GetFeatureInfo&InFo_fOrMaT=text%2Fplain&BbOx=-2,2,2,6&HeIgHt=100&J=60&VeRsIoN=1.3.0&FoRmAt=image%2Fjpeg

I am able to reproduce this issue. According to my analysis, the above test request returns empty value in respons

[2020-06-15 09:16] robinhoutmeyers commented on #76
Based on the above results, it seems the issue is due to the fact that the polygon is filled in the deegree service, so a selection inside the polygon is picked up appropriately:

http://cite.deegree.org/deegree-webservices-3.4.5/services/wms130?&QuErY_LaYeRs=cite:BasicPolygons&I=50&LaYeRs=cite:BasicPolygons&StYlEs=&WiDtH=100&CrS=CRS:84&ReQuEsT=GetMap&InFo_fOrMaT=text%2Fplain&BbOx=-2,2,2,6&HeIgHt=

[2020-06-17 08:29] dstenger commented on #76
@robinhoutmeyers
Why should a GetFeatureInfo request targeting the inside of a polygon not return a response with values if the polygon is not styled?
The inside of the polygon is still part of the polygon.

[2020-06-17 15:11] robinhoutmeyers commented on #76
@dstenger I understand your point but this can be unexpected from a user's point of view; for instance, when you are zoomed in on the inside of an unfilled polygon, it could be weird so suddenly have it selected when you click on the map (e.g. to select another feature).  At least, this is feedback that we received from users in the past; I believe it make sense to consider a unfilled polygon only

[2020-06-17 15:11] #76 closed

[2020-09-03 01:24] zssai opened #77 "Issues about the Compliance Testing"
I publish a WMS service, and test it with the online Team Engine, however, I can't get the image.
By checking the requests, I find that the parameter LAYERS passed to the getMap operation is empty.
you can test it with the service:
https://ags.geoq.cn/arcgis/services/test/CiteWMS/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0
Why the value of the LAYERS is empty?
![Requests]

[2020-09-03 09:12] dstenger commented on #77
Thank you for reporting.

@keshav-nangare Can you please analyze the reported behavior?

[2020-09-04 20:06] keshav-nangare commented on #77
@dstenger

The reported request is submitted for `basic:basic-polygons-sanity-check` test and layers are extracted from the service using
`//wms:Layer[wms:Title = 'cite:BasicPolygons']/wms:Name` XPath. It fails to get value as the given service contains the layer title in the `CDATA` element as you can see below.

![image](https://user-images.githubusercontent.com/14732650/92280752-bea51e80-ef17-1

[2020-09-09 08:46] dstenger commented on #77
@keshav-nangare Can you please check if `wms:Name` can be used to identify the layer instead as the name must not be `CDATA`?
If this is possible, please create a fix and pull request.

[2020-09-10 06:44] keshav-nangare commented on #77
@dstenger

I have updated XPath to identify layer using `wms:Name` and tested these changes successfully on my machine. Please find the changes in #78 PR.

[2020-11-10 20:07] dstenger opened #80 "GetMap request is not tested for mandatory version parameter"
Specification OGC 06-042 describes in chapter `7.3.3.1      VERSION` that the version parameter of a GetMap request is mandatory.
Chapter `7.3.4    GetMap    response` states that an exception shall be returned (HTTP status code is not clear for me).

A service which is accepting a GetMap request without version parameter is currently passing the test suite.

Also, the ATS does not describe such a

[2020-12-22 11:44] keshav-nangare opened #81 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-07 11:55] keshav-nangare commented on #81
Fixed with #82 PR.

[2021-01-12 13:01] dstenger commented on #80
When considering the ATS (https://opengeospatial.github.io/ets-wms13/wms-1_3_0-ats.html), this test should be part of `1.6.1 Test case getmap:getmap`.
However, if this test just inherits the sub tests, we should create a new test module `getmap:version` and test case `getmap:no-version` (we could also think of adding more test cases to this module).

@keshav-nangare The first step is to implement

[2021-01-20 11:56] keshav-nangare commented on #80
I have added a new test as per the discussion. Please find the changes in #83 PR.

[2021-01-27 09:11] dstenger commented on #80
Please also update the ATS in https://github.com/opengeospatial/ets-wms13/blob/master/src/site/resources/wms-1_3_0-ats.html.

[2021-01-29 06:15] keshav-nangare commented on #80
I have updated ats file. Please find the changes in the same PR.

[2021-03-02 18:17] ghobona opened #84 "What status codes are expected in the getmap:exceptions module?"
Please confirm what status codes are expected in the getmap:exceptions module.

For background: https://github.com/INSPIRE-MIF/helpdesk-validator/issues/496#issuecomment-789056244

[2021-03-02 18:55] ghobona commented on #84
This issue has been addressed by https://github.com/INSPIRE-MIF/helpdesk-validator/issues/496#issuecomment-789122504

[2021-03-02 18:55] #84 closed

[2021-03-18 18:26] honglzhu opened #85 "WMS 1.3.0 Compliance Test Failed Although the Response Contains the Required Code"
Details:
- Test Name:	invalid-format
- Test Description:	When a GetMap request contains a Format that is not advertised, then the server throws a Service Exception (code=InvalidFormat).
- Test Result:	FAILED
- Request Method: GET
- Request URL: 	http://150.136.176.209:7003/mapviewer/wms?FoRmAt=UnknownFormat&VeRsIoN=1.3.0&LaYeRs=WMS_BASICPOLYGONS&CrS=CRS%3A84&BbOx=-0.0025,-0.0025,0.0025,0.0025&HeIg

[2021-03-19 10:55] dstenger commented on #85
Thank you for reporting.

@keshav-nangare Can you please analyse why this failure occurs?

[2021-03-23 12:26] keshav-nangare commented on #85
I am able to reproduce the reported behavior and found that problem in XPath. Please find the changes #87 PR.

[2021-03-24 01:45] honglzhu commented on #85
Thank you @keshav-nangare for the quick fix. May I know the timeline that the fix to be patched in the Production? Thanks.

[2021-03-24 09:51] dstenger commented on #85
@honglzhu We are going to update Production this summer (2021) again. This patch will most likely be part of this update.

[2021-04-12 13:31] honglzhu commented on #85
@dstenger , I also got a test failed but I thought it should pass. Did I miss something? Below are the details:

![image](https://user-images.githubusercontent.com/17101537/114402379-c2fe7d80-9b71-11eb-8149-3e80fc281901.png)
Thank you in advance and I look forward for your feedback.

[2021-04-13 19:07] dstenger commented on #85
Thank you for reporting.

However, as this failure is not related to the one described in this issue, can you please open a new issue for that?
Can you please also do a test run on Beta environment (https://cite.opengeospatial.org/te2/) and check if the failure occurs there as well?

[2021-04-23 20:38] #81 closed

[2021-05-20 19:42] #74 closed

[2021-05-27 09:58] #77 closed

[2021-05-27 09:58] #80 closed

[2021-05-27 17:06] #85 closed

[2021-08-29 14:26] honglzhu commented on #85
@keshavnangare , I re-run my test on 2021-08-25, and the issues still exist. http://150.136.62.131:8080/mapviewer/wms?FoRmAt=UnknownFormat&VeRsIoN=1.3.0&LaYeRs=WMS_BASICPOLYGONS&CrS=CRS%3A84&BbOx=-0.0025,-0.0025,0.0025,0.0025&HeIgHt=100&ReQuEsT=GetMap&WiDtH=100&StYlEs=

Can you please let me know if the testing server is up to date or not yet updated?

[2021-08-30 11:34] dstenger commented on #85
Production environment has not been updated, yet. The update is planned for late September.

Can you please check if your problem is solved on Beta environment (https://cite.opengeospatial.org/te2/) which already contains the fix?

[2021-09-01 13:08] honglzhu commented on #85
Thank you @dstenger . I ran a test on /te2, and the issue is fixed. (I have quite a few similar failed tests and will report them separately)

[2021-09-10 12:26] DeordD opened #90 "How to test view service which doesn't contain "Blue Lake" test data set?"
**Background**

In INSPIRE Community almost all service are implemented based on WMS 1.1.1 or WMS 1.3.0. Also this standard is widely used for providing services in national SDIs.

But, in order to test web services against this OGC specification using TEAM Engine, "Blue Lake" dataset has to be provided by the service. That means that Conformance Test Suite is **data-dependent**. Also **user inter

[2021-09-10 14:28] ghobona commented on #90
Q: _Is there any solution for those two use cases? Are there some other tools to support mentioned use cases?_

A: If you were to rebuild the Executable Test Suite such that it did not require user interaction, you would need a Computer Vision library to evaluate the images that are returned by the server and to recognise the objects on those images. Some examples of libraries with Computer Vision

[2021-09-13 07:05] DeordD commented on #90
@ghobona Thanks a lot for quick response!

One small question: Data are also some data-independent Test Cases for OGC WMS 1.3.0 Conformance Test Suite. Is it possible to address only those test cases via API?

[2021-09-20 17:04] dstenger commented on #90
Unfortunately, as this is an old test suite developed in CTL, it is not possible to tackle single conformance classes via the REST API (in TestNG tests this is possible).

All options of the API are described here: https://cite.opengeospatial.org/teamengine/rest/suites/wms13/

So, `basic` can be enabled and disabled but this includes following tests:
data-independent
data-preconditions
basic

[2021-09-21 09:21] jyrkka opened #91 "Tests are always run exhaustively"
If I have understood correctly, looking  at the CTL XML-file I see there should be possibility to run tests non-exhaustively. When running test via web application should there be a some form which would ask me if I want to test each Layer/CRS combination?

https://github.com/opengeospatial/ets-wms13/blob/dc7025c463f439094dbeddafec4e018c6bf649f1/src/main/scripts/ctl/main.xml#L271

And when running

[2021-09-22 05:09] jyrkka commented on #91
The reason why I would need that is because our system contains thousands of different supported CRS and the time to run the tests is over half an hour. And also at the end of the test suite at the moment i get OutOfMemory error when it tries to create the final report. The OOM can be surely fixed somehow but, when running these test as a part of a CI-pipe, i would like to run these test non-exhau

[2021-09-23 20:37] dstenger commented on #91
I agree that this line might introduce a bug.
However, in the recent years we did not actively use or modify this parameter/ functionality.
So, it seems there should be a complete rework regarding the exhaustive parameter.

Did you set up TEAM Engine locally? If that is the case, can you please try to modify this line and check if it solves your problem?

[2021-09-24 05:38] jyrkka commented on #91
Yes, I have local TEAM Engine installation and changing that line solved the problem.

[2021-10-04 08:08] #90 closed

[2021-10-08 10:52] ghobona opened #92 "Expected layer names should be listed in the Test Dataset Description"
The documentation of the [Test Dataset Description](https://cite.opengeospatial.org/teamengine/about/wms13/1.3.0/site/) states how the layers should be configured. However, it only mentions the `<Title>` elements of the layers. [Some of the tests](https://github.com/opengeospatial/ets-wms13/blob/master/src/main/scripts/ctl/basic.xml#L117) expect the `<Name>` elements to be configured exactly as th

[2021-10-08 13:26] #92 closed, assigned to dstenger

[2021-10-11 11:14] ghobona opened #93 "Update the scripts to remove cite: prefix from the Layer Names"
**Describe the bug**
The test scripts currently expect the Layer Names to have the same values as the Layer Titles. The expected Layer Titles are listed in the [Test Dataset Description](https://cite.opengeospatial.org/teamengine/about/wms13/1.3.0/site/).

The problem is that the test scripts expect the Layer Names to have a `cite:` prefix for the namespace. In some cases, however, developers conf

[2021-11-10 20:40] dstenger commented on #93
Pull request was updated.

[2021-11-10 20:42] #93 closed

[2021-11-15 09:20] dstenger opened #95 "Tests basic:transparent-true and queryable:std-data-queryable are failing when non mandatory cite prefix is missing in layer name"
**Describe the bug**
Tests basic:transparent-true and queryable:std-data-queryable are failing when non mandatory cite prefix is missing in layer name.

**Expected behavior**
Tests basic:transparent-true and queryable:std-data-queryable shall pass when no prefix is used in layer names.

[2021-11-18 16:34] dstenger commented on #95
Pull request was created: https://github.com/opengeospatial/ets-wms13/pull/96

[2021-11-24 21:58] #95 closed

[2022-03-25 10:31] lag945 opened #97 "Run Command shell (terminal) failed."
I executed java -jar ets-wms13-1.29-SNAPSHOT-aio.jar  returns
ERROR: Cloud not find or load main class org.example.alpha.CtlController.

[2022-05-04 08:28] dstenger opened #98 "Test GetMap crs-inherited does not handle AUTO correctly"
**Describe the bug**
Test GetMap crs-inherited is failing when an AUTO CRS is configured.
It was detected with latest stable version of GeoServer 2.20.4.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute validation of service with AUTO CRS configured.
2. Test GetMap crs-inherited is failing.

**Expected behavior**
Similar fix as in https://github.com/opengeospatial/ets-wms11/issues/39

[2022-06-17 10:08] vinnakota opened #99 "GetMap requests do not pass correct values for layers parameter"
**Describe the bug**
All compliance tests that test `GetMap` operation are failing because `layers` parameter is either empty or an empty list (of comma separated values)

**To Reproduce**
Steps to reproduce the behavior:
1. use the service at https://jq-aws.dev.geocloud.com/server/services/Cite/MapServer/WMSServer?request=getcapabilities&version=1.3.0&service=wms
2. Run compliancy test
3. Notice

[2022-06-22 09:55] dstenger commented on #99
Thank you for reporting.

Unfortunately, I cannot access your test service.

Nevertheless, I can provide some information how the behavior changed:
Please take a look at https://github.com/opengeospatial/ets-wms13/issues/93 and http://lists.ogc.org/pipermail/cite-forum/2021-October/001844.html which describe the current status.

However, the new behavior is just installed on Beta (https://cite.ogc

[2022-07-30 16:11] vinnakota commented on #99
@dstenger thank you for the details. I was able to modify my test map to meet the new requirements.

[2022-07-30 16:11] #99 closed

[2022-10-11 10:52] bangph commented on #12
@dstenger @bermud  yes that is great to support test suites WMS for only service providing raster. Vector is not needed here.

[2022-10-12 06:25] ghobona commented on #12
@bangph OGC are looking for volunteer developers to enhance this and other executable test suites. Let us know if you are aware of someone that might be interested in volunteering to implement the enhancement.

[2022-10-12 06:36] bangph commented on #12
@ghobona I've tried to run test WMS yesterday and basically, just disable the tests below for WMS which require vector shapefiles, so it is done. I don't know anyone who will contribute to remake the whole tests for raster conformance class, but my idea is a quick solution for that.

![image](https://user-images.githubusercontent.com/6914451/195267684-dcd36d13-0c6f-44b7-bffc-54f94cb8461d.png)

[2022-10-12 09:25] ghobona commented on #12
@bangph That does indeed sound like a quick solution. We could add a button to the form to disable all of the  vector-related tests. We would also need to update the documentation to explain how to use the raster conformance test.

[2022-10-17 10:15] bangph commented on #12
@ghobona exactly, I hope this could be implemented soon (as it seems to be not a lot of works) in  OGC CITE from your description, so others with their raster supports only could pass WMS for raster conformance tests.

[2022-10-26 07:53] bangph commented on #12
@dstenger @ghobona do you think my proposal to strip vector testings from WMS 1.3.0 OGC CITE test could be done in the next few weeks? That would help services which only support raster could be certified with WMS raster conformance.

[2022-10-31 10:24] ghobona commented on #12
@bangph It's on the backlog, however as of 2022-10-31 there are ten tickets ahead of it. So we **might** get to it in January 2023. We will try our best.

[2022-11-01 11:26] bangph commented on #12
@ghobona thanks for letting me know about the milestone. I think if something is easy like this one, it **might** be better to do first from the backlog to reduce it faster.